<div class="ca-c-card">
  <div class="ca-c-card__header">
    <div class="credit-card__header-title">
      <img
        class="credit-card__header-icon"
        src="assets/icons/icon-credit-card.png"
        alt=""
      />
      <h1>Cartão de Crédito</h1>
    </div>
  </div>

  <div class="ca-c-card__content">
    <div class="credit-card__content-item">
      <div class="credit-card__content-item-box">
        <p>1234567891011</p>
        <p>Fulando da Silva</p>
      </div>
      <div class="credit-card__content-item-box-2">
        <p>MASTER CARD</p>
      </div>
    </div>
    <div class="credit-card__content-item">
      <p>Limite de Compra</p>
      <p>R$ 1000,00</p>
    </div>

    <div class="ca-c-card__content-line"></div>

    <div class="credit-card__content-item">
      <div class="credit-card__content-item-box">
        <p>Disponível</p>
      </div>
      <div class="credit-card__content-item-box-2">
        <p>R$ 1200,00</p>
      </div>
    </div>
    <div class="credit-card__content-item">
      <div class="credit-card__content-item-box">
        <p>Limite de Saque</p>
      </div>
      <div class="credit-card__content-item-box-2">
        <p>R$ 2000,00</p>
      </div>
    </div>

    <div class="ca-c-card__content-line"></div>

    <div class="credit-card__content-item">
      <div class="credit-card__content-item-box">
        <p>Disponível</p>
      </div>
      <div class="credit-card__content-item-box-2">
        <p>R$ 1300,00</p>
      </div>
    </div>
    <div class="credit-card__content-item">
      <div class="credit-card__content-item-box">
        <p>Limite Total Utilizado</p>
      </div>
      <div class="credit-card__content-item-box-2">
        <p>R$ 3000,00</p>
      </div>
    </div>
  </div>
</div>
